*{
    margin: 0;
    box-sizing: border-box;
    color: #FFF;
}

.inteiro{
    height: 100vh;
    background-color: #0c0c0c;
}

.cartao{
    margin: 20px;
    background-color: #1d1b1b;
    border-radius: 20px;
}

.cartao-conteudo{
    background-color: #1d1b1b;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}

td{
    padding: 10px;
}

th{
    font-size: 1.2rem;
}

.input-editado{
    color: #FFF;
    border: #0c0c0c8c;
    outline: none;
    background-color: #0c0c0c8c;
}

.input-editado:active{
    color: #FFF;
    border: #0c0c0c8c;
    outline: none;
    background-color: #0c0c0c8c;
}

.head{
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: #282727;
    padding: 15px;
}