<% if(errors.length > 0) {%>

  <div class="alert mt-2 alert-danger" role="alert">
    <% errors.forEach(erro => { %>
        <%= erro %>
    <% }) %>
  </div>

<% }%>
<% if(success.length > 0) {%>

  <div class="alert mt-2 alert-success" role="alert">
    <% success.forEach(sucesso => { %>
        <%= sucesso %>
    <% }) %>
  </div>

<% }%>